* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Trebuchet MS", Verdana, "Gill Sans MT", sans-serif;
  background-color: #8e8e8e;
  color: #ffffff;
}

.header {
  display: flex;
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #d20101b7;
}

.name {
  width: 100%;
  font-size: 50px;
}

span {
  color: #000000;
  text-shadow: 2px 2px #8e8e8e;
}

.navbar {
  width: 100%;
  padding-top: 15px;
  margin-right: 20px;
  font-size: 20px;
  align-items: flex-end;

}

.navbar-list {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: end;

}

.navbar-list-item {
  margin-left: 25px;
  align-items: center;
}

a {
  font-size: 25px;
  color: #ffffff;
  text-decoration: none;  
}

a:hover {
  color: #8e8e8e
}

a:visited {
  color: #fff;
}

a:active {
  color: #5c0101;
}



/* section {
  display: flex;

}

h2 {
  font-size: 40px;
  margin: 30px;
  border-right: #000000 5px solid;
  margin-right: 20px;
  padding-right: 40px;

}

p {
  font-size: 18px;
  margin: 40px;
  padding: 20px;
  ;

} */