* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Trebuchet MS", Verdana, "Gill Sans MT", sans-serif;
  background-color: #8e8e8e;
  color: #ffffff;
}

.header {
  display: flex;
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #3b3535b7;
}

.name {
  width: 100%;
  font-size: 50px;
}

span {
  color: #000000;
  text-shadow: 2px 2px #a12929;
}

.navbar {
  width: 100%;
  padding-top: 15px;
  margin-right: 20px;
  font-size: 20px;
}

.navbar-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: end;
}

.navbar-list-item {
  margin-left: 25px;
}

.subtitle {
  background-image: url(/assets/Images/coding-img-red.jpg);
  width: 100%;
  height: 100px;
}

.subtitle-heading {
  font-size: 35px;
  font-weight: bolder;
  text-align: right;
  margin-right: 30px;
  padding-top: 50px;
}

.aside {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-right: 20px;
  padding: 20px;
}

.about-me-heading {
  /* align-self: right; */
  font-size: 50px;
  font-weight: bolder;
  margin-right: 60px;
}

.projects-heading {
  font-size: 50px;
  font-weight: bolder;
  margin-top: 250px;
}

.contact-me-heading {
  font-size: 50px;
  font-weight: bolder;
  margin-top: 300px;
  margin-right: 100px;
  margin-bottom: 50px;
}

.main {
  display: flex;
  height: 100%;
  margin: 20px;
}

.phone {
  font-size: 25px;
}

a {
  font-size: 25px;
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #8e8e8e;
}

a:visited {
  color: #fff;
}

a:active {
  color: #5c0101;
}

ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  align-items: stretch;
  margin-top: 120px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  justify-content: center;
  margin: 30px;
}

.main-project {
  width: 600px;
  height: 500px;
  align-items: center;
  flex-basis: 100%;
  margin: 20px;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.side-project {
  width: 400px;
  height: 400px;
  margin: 20px;
}
